<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71145577143-i2j8rukcus96uv60v0536tpa597s87k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71145577143-i2j8rukcus96uv60v0536tpa597s87k1</string>
	<key>API_KEY</key>
	<string>AIzaSyB7oI1BWqznw8SeJVNwzZJb25_f6bS-LAI</string>
	<key>GCM_SENDER_ID</key>
	<string>71145577143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fiscal</string>
	<key>PROJECT_ID</key>
	<string>fiscal-81d65</string>
	<key>STORAGE_BUCKET</key>
	<string>fiscal-81d65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71145577143:ios:4885e5973f136a64774b32</string>
</dict>
</plist>